{% extends 'front/base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
  <!-- Main Slider -->
  <section class="main-slider">
    <div class="banner-carousel"> 
      <!-- Swiper -->
      <div class="swiper-wrapper">
        {% if banners|length != 0 %}
            {% for ban in banners %}
            {% if ban.image %}
          <div class="swiper-slide slide" style="background-image:url({{MEDIA_URL}}{{ban.image.url}})">
          {% else %}
          <div class="swiper-slide slide" style="background-image:url({% static 'assets/front/images/slider-img1.jpg' %})">
          {% endif %}
          <div class="curve"></div>
          <div class="auto-container">
            <div class="content">
              <div class="title">{% trans "Welcome_ASAP" %}</div>
              <h2>
                {% if LANGUAGE_CODE == "en" %}
                {{ ban.title }}
                {% else %}
                    {{ ban.title_ar }}
                {% endif %}
              </h2>
              {% comment %} <div class="btn-box"> <a href="contact.html" class="theme-btn btn-style-one"><span class="txt">Contact Us</span></a> </div> {% endcomment %}
            </div>
          </div>
        </div>
        {% endfor %}
            
            {% else %}
            {% endif %}
        
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div class="bottom-img"> <img src="{% static 'assets/front/images/header-shape.png'%}" alt=""> </div>
  </section>
  <!-- End Main Slider -->
<section class="about-sec">
  <div class="container">
    <div class="row align-items-center clearfix">
      <div class="col-lg-6 col-md-12 col-sm-12 image-column"> 
        <div id="image_block_1">
        <div class="image-box">
          {% if about.image %}
          <figure class="image"><img src="{{MEDIA_URL}}{{about.image.url}}" alt=""></figure>
          {% else %}
          <figure class="image"><img src="/static/default.png" alt=""></figure>
          {% endif %}
          <div class="box">
            <div class="inner">
              <div class="icon-box">
                <div class="icon icon-1"></div>
                <div class="icon icon-2"></div>
              </div>
              <span>
                {% if LANGUAGE_CODE == "en" %}
                {{ about.experience_desc }}
                {% else %}
                    {{ about.experience_desc_ar }}
                {% endif %}
              </span>
              <h1>{{about.experience_year}}</h1>
              <p>
                {% if LANGUAGE_CODE == "en" %}
                {{ about.experience_title }}
                {% else %}
                    {{ about.experience_title_ar }}
                {% endif %}
              </p>
            </div>
          </div>
        </div>  
      </div>         
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 content-column">
        <div id="content_block_1">
          <div class="content-box">
            <div class="section-title">
              <p>{% if LANGUAGE_CODE == "en" %}
                {{ about.title }}
                {% else %}
                    {{ about.title_ar }}
                {% endif %}
              </p>
            
              <h2>
                {% if LANGUAGE_CODE == "en" %}
                {{ about.title1 }}
                {% else %}
                    {{ about.title1_ar }}
                {% endif %}
              </h2>
              <div class="dotted-box"> <span class="dotted"></span> <span class="dotted"></span> <span class="dotted"></span> </div>
            </div>
            <div class="bold-text">
              {% if LANGUAGE_CODE == "en" %}
                {{ about.description|striptags }}
                {% else %}
                    {{ about.description_ar|striptags }}
                {% endif %}
            </div>
            
            <div style="display:none;" class="btn-box"> <a href="about-us.html" class="bttn1">Read More <i class="bx bxs-right-arrow-alt bx-fade-left bx-flip-vertical"></i></a> </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
<!-- Start Our Team Area -->
<section class="our-team-sec" style="display:none;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8">
        <div class="sec-title">
      <h2><span>Our Team</span></h2>
      <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit</p>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <!-- Single Our Team Area -->
      <div class="our-team"> <img src="{% static 'assets/front/images/team-img1.jpg'%}" alt="">
        <h4><a href="#">Adam Gillwarms</a></h4>
        <span class="designation bg-theme">Courier Person</span>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        <ul class="our-team-profile">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>      
    </div>
    <div class="col-lg-4 col-md-6">
      <!-- Single Our Team Area -->
      <div class="our-team"> <img src="{% static 'assets/front/images/team-img2.jpg'%}" alt="">
        <h4><a href="#">Dany Lizwani</a></h4>
        <span class="designation bg-theme">Courier Person</span>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        <ul class="our-team-profile">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>      
    </div>
    <div class="col-lg-4 col-md-6">
      <!-- Single Our Team Area -->
      <div class="our-team"> <img src="{% static 'assets/front/images/team-img3.jpg'%}" alt="">
        <h4><a href="#">Adam Gillwarms</a></h4>
        <span class="designation bg-theme">Courier Person</span>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        <ul class="our-team-profile">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>      
    </div>
  </div>
  </div>
</section>
<!-- End Our Team Area -->

{% endblock content %}
