{% extends 'admin/base.html' %} {% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Dashboard</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Users List</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Users List</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table
                id="custom-data-table"
                class="table table-bordered table-striped"
              >
                <thead>
                  <tr>
                    <th class="w-20">SR No.</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in list %}
                  <tr id="row{{data.id}}">
                    <td>{{ forloop.counter }}</td>
                    <td>
                      {% if data.image %}
                      <img src="{{ MEDIA_URL }}{{ data.image.url }}" alt="My Image" width="50"/>
                      {% else %}
                      <img src="/static/default.png" alt="My Image" width="50"/>
                      {% endif %}
                    </td>
                    <td>{{ data.name}}</td>
                    <td>{{ data.email}}</td>
                    <td>{{ data.phone}}</td>
                    <td>
                      <select
                        class="form-control status-change"
                        id="{{data.id}}"
                      >
                        <option value="1" {% if data.status == 1 %} selected {% endif %}>Published</option>
                        <option value="0" {% if data.status == 0 %} selected {% endif %}>Draft</option>
                      </select>
                    </td>
                    <td>
                      <a
                        href="edit-user/{{data.id}}"
                        class="btn btn-info btn-sm"
                        ><i class="fas fa-edit"></i
                      ></a>
                      <a
                        class="btn btn-danger btn-sm"
                        onclick="checkdelete({{data.id}})"
                        ><i class="fas fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% csrf_token %}
            <input type="hidden" name="csrfmiddlewaretoken" value="">
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<script>
  $(function () {
    $('#custom-data-table')
      .DataTable({
        responsive: true,
        lengthChange: false,
        autoWidth: false,
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
        columnDefs: [
          {
            targets: [1, 2, 3, 4] /* column index */,
            orderable: false /* true or false */,
          },
        ],
      })
      .buttons()
      .container()
      .appendTo('#custom-data-table_wrapper .col-md-6:eq(0)');
  });
</script>

<script>
  $(document).ready(function () {
    var html = '';
    html += '<div class="" id="action-btns" style="display: contents;">';
    html +=
      '<button type="button" title="add new user" class="ml-1 btn btn-outline-success btn-sm cust-btns" id="add-new-btn">New <i class="fas fa-plus-circle"></i></button>';
    html += '</div>';
    $('#custom-data-table_filter').append(html);
  });

  $(document).on('click', '#add-new-btn', function () {
    window.location.replace('/add-user/');
  });
</script>

<script>
  $(function () {
    if (sessionStorage.getItem('statusupdated')) {
      swal({
        title: 'Status Updated.',
        text: 'Status updated successfully.!',
        type: 'success',
        confirmButtonClass: 'btn-primary btn-sm',
        confirmButtonText: 'OK',
      });
      sessionStorage.removeItem('statusupdated');
    }

    if (sessionStorage.getItem('updated')) {
      swal({
        title: 'Data Updated.',
        text: 'Data Details updated successfully.!',
        type: 'success',
        confirmButtonClass: 'btn-primary btn-sm',
        confirmButtonText: 'OK',
      });
      sessionStorage.removeItem('updated');
    }

    if (sessionStorage.getItem('saved')) {
      swal({
        title: 'New Data Added',
        text: 'Data added successfully.!',
        type: 'success',
        confirmButtonClass: 'btn-primary btn-sm',
        confirmButtonText: 'OK',
      });
      sessionStorage.removeItem('saved');
    }
  });
</script>

<script>
  function checkdelete(id) {
    swal(
      {
        title: 'Are you sure.?',
        text: 'You want to delete this record.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn-danger btn-sm',
        cancelButtonClass: 'btn-dark btn-sm',
        confirmButtonText: 'Yes, delete it!',
        closeOnConfirm: false,
      },
      function () {
        $.post(
          '/delete-user/',
          {
            id: id,
            table: 'Users',
            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
          },
          function (data, status) {
            if (data.msg == 'Deleted') {
              $('#row' + id).remove();
              swal({
                title: 'Deleted.',
                text: 'Record has been deleted successfully.!',
                type: 'success',
                confirmButtonClass: 'btn-primary btn-sm',
                confirmButtonText: 'OK',
              });
            }
          }
        );
      }
    );
  }
</script>

<script>
  $(document).on('change', '.status-change', function () {
    const id = $(this).attr('id');
    const status = $(this).val();
    $.post(
      '/update-user-status/',
      {
        id: id,
        table: 'Users',
        status: status,
        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
      },
      function (data, status) {
        if (data.msg == 'Updated') {
          $(this).val(status);
          swal({
            title: 'Status Updated.',
            text: 'Status Updated successfully.!',
            type: 'success',
            confirmButtonClass: 'btn-primary btn-sm',
            confirmButtonText: 'OK',
          });
        }
      }
    );
  });
</script>
{% endblock content %}
